[submodule "packages/turkserver"]
	path = packages/turkserver
	url = https://github.com/TurkServer/turkserver-meteor.git
[submodule "packages/tutorials"]
	path = packages/tutorials
	url = https://github.com/mizzao/meteor-tutorials.git
